@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
*::-webkit-scrollbar{
    background-color: transparent;
    width: 1px;
}

